*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #03375f;
    min-height: 45vh;
}
.header h1{
    color: #32CE62;
    font-weight: 400;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;

}  
.in{
    color: #fff;
}
.header p{
    color:#fff;
    line-height: 1.5;
    font-family:cursive;
    font-size: 20px;
} 
button{
    background-color: #32ce61c4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
}
.image{
    display: flex;
    gap: 15px;
    height: 30vh;
    width: 25%;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
   
}
.image img{
    border-radius: 90px;
    height: 35vh;
}
